:root {
  --bs-limeGreen: hsl(163, 72%, 41%);
  --bs-brightRed: hsl(356, 69%, 56%);
  --bs-facebook: hsl(208, 92%, 53%);
  --bs-twitter: hsl(203, 89%, 53%);
  --bs-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --bs-youTube: hsl(348, 97%, 39%);
  --bs-Toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --bs-bg-VeryDarkBlue: #1d2029;
  --bs-bg-top-VeryDarkBlue: #20222f;
  --bs-bg-card-DarkDesaturatedBlue: hsl(228, 28%, 20%);
  --bs-text-DesaturatedBlue: hsl(228, 34%, 66%);
  --bs-Toggle: hsl(230, 22%, 74%);
  --bs-bg-top-VeryPaleBlue: #f8f9fe;
  --bs-bg-card-LightGrayishBlue: hsl(227, 47%, 96%);
  --bs-text-DarkGrayishBlue: hsl(228, 12%, 44%);
  --bs-text-VeryDarkBlue: hsl(230, 17%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color 0.3s;
  transition: background-color 0.3s;
}

html {
  font-family: "Inter", sans-serif;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  /* Hide default HTML checkbox */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bs-Toggle);
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.container {
  width: 90%;
  margin-inline: auto;
}

header {
  padding-top: 2em;
  padding-bottom: 5em;
  background: var(--bs-bg-top-VeryPaleBlue);
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
}
header h1 {
  font-size: 1.5em;
}
header h3 {
  color: var(--bs-text-DarkGrayishBlue);
  font-size: 0.9em;
  padding-top: 0.4em;
}

.mode-switch-container {
  display: flex;
  justify-content: between;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--bs-text-DarkGrayishBlue);
  padding-top: 1em;
  margin-top: 1.4em;
  font-weight: 700;
  font-size: 0.9em;
  color: var(--bs-text-DarkGrayishBlue);
}
.mode-switch-container p {
  flex-basis: 100%;
}

.section-cards {
  margin-top: -2.5em;
}
.section-cards .container {
  display: flex;
  flex-wrap: wrap;
}

.top-line {
  height: 4px;
  width: 100%;
}

.card {
  flex-basis: 100%;
  background: #f0f3fa;
  margin-bottom: 1.5em;
  border-radius: 5px;
  padding-bottom: 2em;
  overflow: hidden;
}
.card.card-twitter {
  border-top-color: var(--bs-twitter);
}

.card-fb .top-line {
  background: var(--bs-facebook);
}

.card-twitter .top-line {
  background: var(--bs-twitter);
}

.card-insta .top-line {
  background: var(--bs-instagram);
}

.card-yt .top-line {
  background: var(--bs-youTube);
}

.card-user {
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-user p {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--bs-text-DarkGrayishBlue);
}

.card-followers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-followers h3 {
  font-size: 3.5em;
  padding-top: 0.2em;
}
.card-followers p {
  color: var(--bs-text-DarkGrayishBlue);
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-new-today {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-limeGreen);
  padding-top: 1.5em;
}
.card-new-today p {
  font-weight: 700;
  font-size: 0.9em;
  margin-left: 3px;
}

.text-bright-red {
  color: var(--bs-brightRed);
}

.section-overview h2 {
  color: var(--bs-text-DarkGrayishBlue);
  margin-top: 1em;
  margin-bottom: 1.2em;
}
.section-overview .card {
  border-top: none;
}
.section-overview .card > * {
  width: 85%;
  margin-inline: auto;
}
.section-overview .card-user {
  justify-content: space-between;
}
.section-overview .card-user p {
  margin-left: 0;
}
.section-overview .stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.2em;
}
.section-overview .stats h3 {
  font-size: 2em;
}
.section-overview .stats .card-new-today {
  padding-top: 0;
  font-size: 0.8em;
}

body.dark {
  background-color: var(--bs-bg-VeryDarkBlue);
}
body.dark header {
  background-color: var(--bs-bg-top-VeryDarkBlue);
}
body.dark header h1 {
  color: #fff;
}
body.dark header h3,
body.dark header p {
  color: var(--bs-text-DesaturatedBlue);
}
body.dark .slider {
  background-color: var(--bs-Toggle-dark);
}
body.dark .slider:before {
  background-color: var(--bs-bg-top-VeryDarkBlue);
}
body.dark input:checked + .slider {
  background-color: transparent;
  background-image: var(--bs-Toggle-dark);
}
body.dark input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
body.dark input:checked + .slider:before {
  transform: translateX(26px);
}
body.dark .card {
  background-color: var(--bs-bg-card-DarkDesaturatedBlue);
}
body.dark .card h3 {
  color: #fff;
}
body.dark .card .card-user p {
  color: var(--bs-text-DesaturatedBlue);
}
body.dark .card .card-followers p {
  color: var(--bs-text-DesaturatedBlue);
}
body.dark .section-overview h2 {
  color: var(--bs-text-DesaturatedBlue);
}